@model StudentManagementSystem.Models.ChangePassword

@{
    ViewData["Title"] = "UpdatePassword";
    Layout = null;
}
<link href="/css/site.css" rel="stylesheet" type="text/css" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />

<form asp-action="UpdatePassword" class="mx-1 mx-md-4">
    <body class=" login-page">
        <div class="login-box mt-5">
            <div class="login-logo text-margin ">
               @* <a href="../../index2.html"><b>Change Password</b></a>*@
            </div>
            <div class="card margin-left">
                <div class="card-body left-5 ms-5">
                    <form action="Update" method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserId" />
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" onclick="return confirm('Are you sure you want change password?')" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.login-box -->
            <!-- jQuery -->
            <script src="../../plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- AdminLTE App -->
            <script src="../../dist/js/adminlte.min.js"></script>
        </div>

    </body>


</form>



